@charset "UTF-8";

body {
    background-color: rgb(241, 224, 63);
    font-family: Helvetica Neue, Arial, sans-serif;
    font-style: initial;
}
/*
#yellow_toggle {
    top: 280px;
    width: 80px;
    height: 40px;
    position: absolute;
    display: block;
    background: yellow;
    box-shadow: 3px 3px 3px #888;
    border-radius: 40px;
    padding: 4px;
    cursor: pointer;
  }*/
  